@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f7f7f7;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  margin: 8px 0;
  border-bottom: 1px solid #ccc;
}

.topbar {
  display: flex;
  align-items: center;
  margin: 24px 0;
}

.topbar a {
  margin-left: 24px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.expenses-container {
  margin: 0 300px;
}

.expense-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.expenses-month-link {
  color: black;
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.expenses-month-link span {
  font-style: italic;
}

.month-title {
  margin-right: 20px;
}

.expenses-delete svg {
  color: #dc3545;
}

td {
  width: 33%;
}

.insights-container {
  display: flex;
  flex-direction: column;
  margin: 100px 300px;
  font-size: 20px;
}

.insights-bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.insights-bottom-container canvas {
  max-width: 700px;
}

.insights-total-text {
  text-align: center;
}

.insights-total {
  font-size: 36px;
  margin-left: 10px;
  font-weight: bold;
}

.insights-greatest-expenses {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.insights-greatest-expenses table {
  margin-top: 20px;
}

.insights-greatest-expenses table > tbody > tr:first-child {
  font-size: 24px;
  font-weight: bold;
}