header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  margin: 8px 0;
  border-bottom: 1px solid #ccc;
}

.topbar {
  display: flex;
  align-items: center;
  margin: 24px 0;
}

.topbar a {
  margin-left: 24px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.expenses-container {
  margin: 0 300px;
}

.expense-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.month-title {
  margin-top: 24px;
}

td {
  width: 33%;
}