{% extends 'financial_control/base.html' %}

{% block content %}
  <h2>New Expense</h2>
  <form action="{% url 'expenses_create' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="description" id="description">
    <input type="number" name="value" id="value" step="0.01">
    <button type="submit">Register</button>
    <select name="category_id" id="category_id">
      {% for category in categories %}
        <option value="{{ category.id }}">{{ category.name }}</option>
      {% endfor %}
    </select>
  </form>
{% endblock %}