{% extends 'financial_control/base.html' %}

{% block content %}
<div class="insights-container">
  <p>Your total spend for {{ month }} is: <span class="insights-total">$ {{ total | floatformat:2 }}</span></p>
  <div class="insights-greatest-expenses">
    <span class="title">Top 5 greatest expenses of {{ month }}</span>
    <table class="table table-sm table-striped table-hover">
      {% for expense in greatest_expenses %}
        <tr>
          <td>{{ expense.description }}</td>
          <td>$ {{ expense.value | floatformat:2 }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}